doctype html
html
  head
    meta(charset="utf-8")
    title Sound Controller
    include includes/head
  body
    h1 Sound Controller
    ul
      li
        a.load(href="#") Load
      li
        a.play(href="#") Play
      li
        a.pause(href="#") Pause
      li.timeupdate
        span.elapsed 0:00
        | /
        span.duration 0:00
      li
        input.volume(type="range", min="0.0", max="1.0", step="0.05")
      li
        input.seek(type="range", min="0", max="1", step="0.05", value="0")

    // build:js /js/bundle.min.js
    script(src="/js/bundle.js")
    // /build
