doctype html
html
  head
    meta(charset="utf-8")
    title Common Library
    include includes/head
  body
    h1 Common Library
    ul
      li
        h3
          a(href="/sound.html") Sound Controller
      li
        h3
          a(href="/video.html") Video Controller

    // build:js /js/bundle.min.js
    script(src="/js/bundle.js")
    // /build
